<?xml version='1.0' encoding='utf-8'?>
<plugin id="heyzap-cordova" version="1.3.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

  <name>Heyzap</name>
  <description>Heyzap SDK for Apache Cordova/Adobe PhoneGap</description>
  <author>Heyzap Inc.</author>
  <license>Heyzap</license>
  <keywords>cordova,heyzap,phonegap,sdk,ad,mobile,mediation</keywords>

  <engines>
    <engine name="cordova-android" version=">=4.0.0" />
    <engine name="cordova-ios" version=">=3.8.0" />
  </engines>
  
  <!-- Main Object -->
  <js-module src="www/ads/HeyzapAds.js" name="ads.HeyzapAds">
    <merges target="HeyzapAds" />
  </js-module>
  <!-- / Main Object -->
  
  <!-- Plugin Client Side Code -->
  <js-module src="www/ads/InterstitialAd.js" name="ads.InterstitialAd"></js-module>
  <js-module src="www/ads/VideoAd.js" name="ads.VideoAd"></js-module>
  <js-module src="www/ads/IncentivizedAd.js" name="ads.IncentivizedAd"></js-module>
  <js-module src="www/ads/BannerAd.js" name="ads.BannerAd"></js-module>

  <js-module src="www/Common.js" name="Common"></js-module>
  <js-module src="www/Promise.js" name="Promise"></js-module>

  <!-- Vendor -->
  <js-module src="www/vendor/es6-promise.min.js" name="vendor.PromisePolyfill"></js-module>
  <!-- / Vendor -->
  
  <!-- / Plugin Client Side Code -->

  <!-- iOS -->
  <platform name="ios">
    
    <!-- Hooks -->
    <hook type="before_plugin_install" src="hooks/before_plugin_install/000_create_symlinks.js" />
    <!-- / Hooks -->
    
    <!-- Modify Cordova config -->
    <config-file target="config.xml" parent="/*">
      <feature name="HeyzapAds">
        <param name="ios-package" value="CDVHeyzapAds"/>
        <param name="onload" value="true" />
      </feature>

      <feature name="IncentivizedAd">
        <param name="ios-package" value="CDVHZIncentivizedAd"/>
        <param name="onload" value="true" />
      </feature>

      <feature name="InterstitialAd">
        <param name="ios-package" value="CDVHZInterstitialAd"/>
        <param name="onload" value="true" />
      </feature>

      <feature name="VideoAd">
        <param name="ios-package" value="CDVHZVideoAd"/>
        <param name="onload" value="true" />
      </feature>

      <feature name="BannerAd">
        <param name="ios-package" value="CDVHZBannerAd"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <!-- / Modify Cordova config -->

    <!-- Adapters -->
    <header-file src="src/ios/CDVBasePlugin.h" />
    <source-file src="src/ios/CDVBasePlugin.m" />

    <header-file src="src/ios/CDVHeyzapAds.h" />
    <source-file src="src/ios/CDVHeyzapAds.m" />

    <header-file src="src/ios/CDVHZIncentivizedAd.h" />
    <source-file src="src/ios/CDVHZIncentivizedAd.m" />

    <header-file src="src/ios/CDVHZInterstitialAd.h" />
    <source-file src="src/ios/CDVHZInterstitialAd.m" />

    <header-file src="src/ios/CDVHZVideoAd.h" />
    <source-file src="src/ios/CDVHZVideoAd.m" />

    <header-file src="src/ios/CDVHZBannerAd.h" />
    <source-file src="src/ios/CDVHZBannerAd.m" />
    <!-- / Adapters -->
    
    <!-- Heyzap SDK -->
    <framework src="src/ios/sdk/Heyzap/HeyzapAds.framework" custom="true" compiler-flags="-fmodules" />
    <!-- / Heyzap SDK -->

    <!-- External Frameworks -->
    <framework src="AdSupport.framework"/>
    <framework src="CoreGraphics.framework"/>
    <framework src="CoreTelephony.framework"/>
    <framework src="EventKit.framework"/>
    <framework src="EventKitUI.framework"/>
    <framework src="MediaPlayer.framework"/>
    <framework src="MobileCoreServices.framework"/>
    <framework src="QuartzCore.framework"/>
    <framework src="Security.framework"/>
    <framework src="Social.framework"/>
    <framework src="StoreKit.framework"/>
    <framework src="SystemConfiguration.framework"/>
    <framework src="iAd.framework"/>
    <framework src="MessageUI.framework"/>
    <framework src="CoreLocation.framework"/>

    <framework src="libxml2.dylib"/>
    <framework src="libsqlite3.dylib" /> 
    <!-- / External Frameworks -->

    <info>
      Third party SDKs can be added by adding their appropriate plugins found in the http://www.github.com/Heyzap/heyzap-cordova-extras.
    </info>
  </platform>
  <!-- / iOS -->

  <!-- Android -->
  <platform name="android">
    
    <!-- Modify Cordova config -->
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="HeyzapAds">
        <param name="android-package" value="com.heyzap.cordova.ads.CDVHeyzapAds"/>
        <param name="onload" value="true" />
      </feature>

      <feature name="IncentivizedAd">
        <param name="android-package" value="com.heyzap.cordova.ads.CDVIncentivizedAd"/>
        <param name="onload" value="true" />
      </feature>

      <feature name="InterstitialAd">
        <param name="android-package" value="com.heyzap.cordova.ads.CDVInterstitialAd"/>
        <param name="onload" value="true" />
      </feature>

      <feature name="VideoAd">
        <param name="android-package" value="com.heyzap.cordova.ads.CDVVideoAd"/>
        <param name="onload" value="true" />
      </feature>

      <feature name="BannerAd">
        <param name="android-package" value="com.heyzap.cordova.ads.CDVBannerAd"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <!-- / Modify Cordova config -->

    <!-- Native app manifest -->
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>
    <!-- / Native app manifest -->
    
    <!-- Native app manifest - Application Tag -->
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.heyzap.sdk.ads.HeyzapInterstitialActivity" android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize" />
      <activity android:name="com.heyzap.sdk.ads.HeyzapVideoActivity" android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize" />
      <activity android:name="com.heyzap.sdk.ads.HeyzapProxyActivity" />
      <activity android:name="com.heyzap.sdk.ads.VASTActivity" />

      <!-- Heyzap SDK Test Activity -->
      <activity android:name="com.heyzap.sdk.ads.MediationTestActivity" android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize" />
      <!-- / Heyzap SDK Test Activity -->
      
      <receiver android:name="com.heyzap.sdk.ads.PackageAddedReceiver">
        <intent-filter>
          <data android:scheme="package"/>
          <action android:name="android.intent.action.PACKAGE_ADDED"/>
        </intent-filter>
      </receiver>
    </config-file>
    <!-- / Native app manifest - Application Tag -->
    
    <!-- Heyzap SDK -->
    <source-file src="src/android/sdk/heyzap-ads-sdk.jar" target-dir="libs" />
    <!-- / Heyzap SDK -->
    
    <!-- Adapters -->
    <source-file src="src/android/com/heyzap/cordova/ads/CDVHeyzapAbstractPlugin.java" target-dir="src/com/heyzap/cordova/ads" />
    <source-file src="src/android/com/heyzap/cordova/ads/CDVHeyzapAds.java" target-dir="src/com/heyzap/cordova/ads" />
    <source-file src="src/android/com/heyzap/cordova/ads/CDVIncentivizedAd.java" target-dir="src/com/heyzap/cordova/ads" />
    <source-file src="src/android/com/heyzap/cordova/ads/CDVInterstitialAd.java" target-dir="src/com/heyzap/cordova/ads" />
    <source-file src="src/android/com/heyzap/cordova/ads/CDVVideoAd.java" target-dir="src/com/heyzap/cordova/ads" />
    <source-file src="src/android/com/heyzap/cordova/ads/CDVBannerAd.java" target-dir="src/com/heyzap/cordova/ads" />
    <source-file src="src/android/com/heyzap/cordova/ads/CDVListener.java" target-dir="src/com/heyzap/cordova/ads" />
    <source-file src="src/android/com/heyzap/cordova/ads/ICDVHeyzapPlugin.java" target-dir="src/com/heyzap/cordova/ads" />
    <!-- / Adapters -->

    <info>
      You may need to install "Google Play Services" from the "Android Extras" section using the Android SDK manager (run "android").

      Third party SDKs can be added by adding their appropriate plugins found in the http://www.github.com/Heyzap/heyzap-cordova-extras.
    </info>

  </platform>
  <!-- / Android -->

</plugin>
